:root {   
    background-color: tan;
}

* {
    font-size: 62.5%;
    justify-content: center;
    font-family: 'Righteous', cursive;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 6fr; 
}

.high-score {
    border: 2px solid black;
    margin: 2rem;
    padding: 2rem;
    background-color: black;
    color: wheat;
    font-weight: bolder;
    align-self: center;
    font-size: 3rem;
}
h1 {
    font-size: 6rem;
}

.grid-item-2 {
    border: 2px solid rgb(104, 107, 110);
    border-radius: 1rem;
    margin: 3rem;
    padding: 4.5rem 3rem 1rem 3rem;
    background-color: grey;
    justify-self: center;
}

.score-timer {
    border: 2px solid green;
    margin: 2rem;
    padding: 2rem;
    background-color: black;
    color: wheat;
    font-weight: bolder;
    align-self: center;
    font-size: 3rem;
}

#score {
    background-color: black;
}

#timer {
    background-color: black;
}
.grid-item-4, .grid-item-6 {
    max-width: auto;
    justify-items: center;
    margin-top: auto;
    margin-bottom: auto;
    
}

.quiz-card {
    border: 2px solid black;
    border-radius: 2rem;
    margin: 50px;
    padding: 1rem 1rem 1rem 1rem;
    background-color: cornsilk;
    align-self: center;
    height: 25em;
    font-size: 2.5rem;
    
}

.quiz-item {
    margin: 0 auto;
    padding: 3rem;
    background-color: darkgrey;
    font-size: 2.5rem;
    justify-content: end;
    align-items: center;
    max-width: 75%;
    align-self: center;
    
}

.button {
    background-color: lightblue;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 3rem;
}

.fa-chess-queen {
    font-size: 3.5rem;
    margin-left: 1rem;;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.footer {
    color: cornsilk;
    padding: 3rem;
    margin-left: 0;
    background-image: url(../images/matrix.gif);
    /* background-color: rgb(63, 61, 61); */
    width: 100%;
}

h2 {
    font-family: monospace;
    font-size: 3rem;
}