:root {   
    background-color: #282828;
}

* {
    font-size: 62.5%;
    justify-content: center;
    font-family: 'Righteous', cursive;
    text-align: center;
    background-color: #282828;
}

body {
    justify-content: center;
    font-family: 'Righteous', cursive;
    text-align: center;
    background-color: (#282828);
    padding: 0;
    margin: 0;
}

a {
    background-color: black;
    font-size: 3rem;
    color: wheat;
}

a:hover {
    color: blue;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: .5fr 2fr; 
}

.high-score {
    border: 2px solid darkgray;
    border-radius: 2rem;
    margin: 2rem;
    padding: 2rem;
    background-color: black;
    color: wheat;
    font-weight: bolder;
    align-self: center;

}
h1 {
    font-size: 4rem;
}

h2 {
    background-color: black;
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
    background-color: darkgrey;
}

.grid-item-2 {
    border: 2px solid rgb(104, 107, 110);
    border-radius: 1rem;
    margin: 3rem;
    padding: 2.5rem 3rem 1rem 3rem;
    background-color: grey;
    justify-self: center;
}

.timer-div {
    border: 2px solid darkgray;
    border-radius: 2rem;
    margin: 2rem;
    padding: 2rem;
    background-color: black;
    color: wheat;
    font-weight: bolder;
    align-self: center;

}

#score {
    background-color: black;
    font-size: 3rem;
}

#timer {
    background-color: black;
}
.grid-item-4, .grid-item-6 {
    max-width: auto;
    justify-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.quiz-card {
    border: 2px solid black;
    border-radius: 2rem;
    margin: 50px;
    padding: 1rem 1rem 1rem 1rem;
    background-color: cornsilk;
    align-self: center;
    height: 15em;
    font-size: 2.5rem;
    
}

.quiz-container {
    margin: 0 auto;
    padding: 3rem;
    background-color: darkgrey;
    font-size: 2.5rem;
    justify-content: end;
    align-items: center;
    max-width: 75%;
    align-self: center;
}

.answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    background-color: lightblue;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 1.5rem;
}

.answer-buttons:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

#question {
    font-size: 2.5rem;
    background-color: darkgrey;
}
.scores-card {
    background-color: cornsilk;
    border: 2px solid darkgray;
    border-radius: 2rem;
    width: 50rem;
    height: 70rem;
    align-items: center;
    justify-self: center;
}

.button {
    background-color: lightblue;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 3rem;
}

.choice-button {
    background-color: lightblue;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 3rem;
}

.button-correct {
    background-color: green;
}

.button-wrong {
    background-color: red;
}

.start-button {
    margin-top: 50px;
}

.fa-chess-queen {
    font-size: 3.5rem;
    margin-left: 1rem;;
    background-color: lightblue;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.footer {
    color: cornsilk;
    padding: 3rem 0rem;
    background-image: url(../images/matrix.gif);
    background-size: auto;
    font-family: monospace;
    font-size: 3rem;
}

.hide {
    display: none;
}

/* .show {
    display: none;
} */